body, html {
height: 100%;
}
body{
background-image:  url('../components/image/icebreakersImg2.jpg') !important;
background-size: cover !important;
height: 100vh;
background-position: center;
overflow: hidden;
padding-bottom: 10%;
}
